<!doctype html>
<html>


<head>
    <!--Make the site pretty-->
    <title>Home | AWOS</title>
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='seatingsite.css')}}"/>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
</head>
<body>

    <!--Navbar-->
    <nav class="navbar navbar-inverse">
        <div class="continer-fluid">
            <div class = "navbar-header">
                <a class="navbar-brand" href="index">AWOS</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="index">Home</a></li>
                <li><a href="seating">Seating</a></li>
                <li><a href="about">About</a></li>
                <li><a href="howto">Help</a></li>
            </ul>
        </div>
    </nav>

    <!--Main Body-->
    <div align="center" id="div80">
        <h1><strong>A</strong>gile <strong>W</strong>orkstation <strong>O</strong>ccupancy <strong>S</strong>ystem</h1>
        This system is designed in order to assist teaching and research staff in finding seating in the CB11 (UTS FEIT) Building.
        <br>
        It relies on a series of image sensors connected to Raspberry Pi throughout the building. Information relating to the occupancy status of individual desks is then relayed to this website, where the occupancy status of multiple seats can be viewed at once.
        <br>
    </div>
    <br>
    <br>
    <div align="center">
        <a href="seating" class="btn btn-primary">Go To Seating System</a>
    </div>
</body>
</html>
