<!doctype html>
<html>
<!--Site Version 1.2-->

<head>
    <!-- Keep site looking pretty-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seating | AWOS</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='seatingsite.css')}}">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--This script auto refreshes the page every 5 minutes-->
    <script>setTimeout("window.location.reload(true);",300000);</script>
</head>
<body>

    <!--Navbar-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class = "navbar-header">
                <a class="navbar-brand" href="index">AWOS</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="index">Home</a></li>
                <li class="active"><a href="seating">Seating</a></li>
                <li><a href="about">About</a></li>
                <li><a href="howto">Help</a></li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <br>

    <!--Main Body-->
    <div  id="div80">
        <table id="maintable" align="center">
            <tr>
            <!--Sortable Headings-->
                <th id="mainheader" onclick="sortTable(0)">Location</th>
                <th id="mainheader" onclick="sortTable(1)">Occupied</th>
                <th id="mainheader" onclick="sortTable(2)">Date</th>
            </tr>
            <!-- Use jinja to display table-->
            {% for location,status,date in seats %}
            
                <tr>
                    <td>{{ location }}</td>
                    <td>{{ status }}</td>
                    <td>{{ date}}</td>
                </tr>       
            {% endfor %}
        </table>
        <p>
        <!--Display last refresh-->
            <br><br>
            Page Last Updated:
        </p>
        <p id ="lastRefresh"></p>
    </div>




<!--This function controls the sorting of table elements, taken from w3schools-->
<script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("maintable");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
}
</script>

<!--This script gets the current date and time & returns it to the user-->
<script>
var d = new Date();
document.getElementById("lastRefresh").innerHTML = d;
</script>



</body>
</html>
